body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
}

h1 {
    text-align: center;
}

#controls {
    text-align: center;
    margin-bottom: 20px;
}

#saveTabs, #restoreAllTabs {
    padding: 10px 20px;
    background-color: #4285F4;
    color: white;
    border: none;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.tabList {
    list-style-type: none;
    padding: 0;
}

.tabList li {
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #f9f9f9;
    border-radius: 4px;
}

.tabList a {
    text-decoration: none;
    color: #1A0DAB;
    font-size: 14px;
    flex-grow: 1;
}

.tabList a:hover {
    text-decoration: underline;
}

.removeButton {
    float: right;
    background-color: transparent;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 18px;
}

#categoryInput {
    width: 200px;
    padding: 5px;
    margin-right: 10px;
}

.tabGroup {
    margin-bottom: 30px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.tabGroup h2 {
    display: inline-block;
    margin: 0 10px 10px 0;
}

.removeGroupButton {
    float: right;
    background-color: transparent;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 18px;
}

.removeTabButton {
    background-color: transparent;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 16px;
    margin-left: 5px;
}

.restoreGroupButton, .removeSelectedButton {
    padding: 5px 10px;
    background-color: #34A853;
    color: white;
    border: none;
    margin-top: 10px;
    margin-right: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.removeSelectedButton {
    background-color: #d9534f;
}

.groupHeaderContainer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.groupHeaderContainer .masterCheckbox {
    margin-right: 10px;
}

.tabCheckbox {
    margin-right: 10px;
}